@model IEnumerable<Model.Company>
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options;
@using S_and_S
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = "Index";
}

<h1>Companies</h1>

<p>
    <a asp-action="Upsert" class="btn btn-outline-secondary">Create New</a>
</p>

<table class="table alert-outline-dark table-striped" id="tbl">
    <thead>
        <tr>
            <th>
                @*       @Localizer["Id"].Value*@
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Localizer["Name"].Value
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @*                @Localizer["StreetAddress"].Value*@
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @*                @Localizer["City"].Value*@
                @Html.DisplayNameFor(model => model.City)
            </th>
            @*      <th>
                @Html.DisplayNameFor(model => model.State)
                </th>*@
            <th>
                @*               @Localizer["PostalCode"].Value*@
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @*      @Localizer["PhoneNumber"].Value*@
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="~/js/company.js"></script>
@*<script type="text/javascript">
    $(document).ready(function(){
         $("#tbl").DataTable();
    });
</script>*@
}