@using Model
@using SandS.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<Model.ApplicationUser> UserManager
@model IEnumerable<OrderHeader>;
@{
    Layout = null;
    var m = Model ;
    
    //var properties = Model[0].GetType().GetProperties();
    //var t = properties;
}
<style>
    .row1 > div {
        display: inline-block;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Receipt</title>
    <link href=~/css/rotiva.css rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="invoice-title">
        <span class="text-center">S&S &nbsp; Laundry</span>
    </div>



    <div class="invoice-head clearfix">
        <table style="border:none;">
            <tr>
                <td rowspan="3" width="10%" class="img-thumbnail p-1">
                    <img src="~/Img/sands.jpg" width="75%" />
                </td>

                <td class="invoice-to">
                    @UserManager.GetUserAsync(User).Result.FirstName  @UserManager.GetUserAsync(User).Result.LastName<br />
                    @UserManager.GetUserAsync(User).Result.PhoneNumber<br />
                    @UserManager.GetUserAsync(User).Result.Email<br />
                    @UserManager.GetUserAsync(User).Result.StreetAddress<br />
                </td>

                <td class="invoice-details">
                    Invoice no: 123456<br />
                    Invoice Data:  @DateTime.Now.Date.ToShortDateString()<br />
                    Payment Due:   @DateTime.Now.Date.ToShortDateString()<br />
                    @*Due date: @Model.DueDate.ToShortDateString()*@
                </td>

            </tr>
        </table>

    </div>

    <table class="SummaryTable">
        <thead>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody style="background-color:whitesmoke">
            @foreach (var item in Model.FirstOrDefault().OrderLine)
            {
@*               if(item.GetType() == typeof(OrderHeader))
                {
                    var oLine = item as OrderHeader;
                    <tr>
                        @oLine.FirstName
                    </tr>
                }*@
              <tr>
                    <td>@item.Items</td>
                    <td class="numeric-cell">1</td>
                    <td class="numeric-cell">@item.Price</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="1"></th>
                <th>Total</th>
                <th class="numeric-cell">@Model.FirstOrDefault().TotalLine.ToString("N2")</th>
            </tr>
        </tfoot>

    </table>

    <hr />
    <article style="background-color:whitesmoke">
        <h3 style="text-align:center">Loyaty Point</h3>
        <div class="col-md-6 row" style="text-align:center">
            <button type="button" class="btn btn-outline-secondary btnLoyalty_1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>
            &nbsp;

            <button type="button" class="btn btn-outline-secondary btnLoyalty_2 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>
            &nbsp;

            <button type="button" class="btn btn-outline-secondary btnLoyalty_3 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>
            &nbsp;

            <button type="button" class="btn btn-outline-secondary btnLoyalty_4 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>
            &nbsp;

            <button type="button" class="btn btn-outline-secondary btnLoyalty_5 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>

        </div>
        <div class="col-md-6 row" style="text-align:center">
            <button type="button" class="btn btn-outline-secondary btnLoyalty_6">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>
            &nbsp;

            <button type="button" class="btn btn-outline-secondary btnLoyalty_7 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>
            &nbsp;

            <button type="button" class="btn btn-outline-secondary btnLoyalty_8 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>
            &nbsp;

            <button type="button" class="btn btn-outline-secondary btnLoyalty_9 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>
            &nbsp;

            <button type="button" class="btn btn-outline-secondary btnLoyalty_10 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
            </button>

        </div>
    </article>

    <br />

    <div>
        <h3>Terms and Condition</h3>
        <ul>
            <li>Not applicable for Dry cleaning services</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </div>
</body>
</html>





