@model List<Model.OrderDetail>

@{
    ViewData["Title"] = "SaleOrderDetail";
}

<h1>Sale Order Detail </h1>

<table width="38%">
    <thead>
        <tr class="alert-secondary">
            <th>@Html.DisplayNameFor(m => @Model.FirstOrDefault().Count)</th>
            <th>@Html.DisplayNameFor(m => @Model.FirstOrDefault().Items)</th>
            <th>@Html.DisplayNameFor(m => @Model.FirstOrDefault().Price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Count)</td>
                <td>@Html.DisplayFor(m => item.Items)</td>
                <td>@Html.DisplayFor(m => item.Price)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr scope="row" class="alert-dark">
            <th class="col" colspan="2"> Total </th>
            
            <th class="col">@Model.Sum(x=>x.Price).ToString("N2")</th>
        </tr>
    </tfoot>
</table>