@model Model.Debtors;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options;
@using S_and_S
@inject IStringLocalizer<SharedResource> Localizer
@inject IOptions<Service.StripeSettings> Stripe

<div class="card mt-2">
    <div class="card-header">
        <div class="row g-3">
            <div class="col">
                <label>Choose Category</label>
            </div>
            <div class="col-md-2">
                <select asp-for="@Model.Catergory" id="Catergory" class="form-control" asp-items="@(SelectList)ViewBag.sList">
                    <option disabled selected>-Select-</option>
                </select>
                <span asp-validation-for="@Model.Catergory" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover d-none display" id="tblLaundry">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Items</th>
                    <th scope="col" style='text-align: center'>Prices (Rands)</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in (List<Model.Product>)ViewBag.Laundry)
                {
                    <tr>
                        <th scope="row"><input type="checkbox" name="row-check" id="@item.ProductID" style="width:25px;height:20px" /></th>
                        <td>@item.ProductName</td>
                        <td style="text-align: right">@item.ListPrice.ToString("N2")</td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr class="alert-primary text-dark ">
                    <th class="col"> Total </th>
                    <td class="col"></td>
                    <th class="col font-weight-bold" id="totall" style='text-align: right'>0.00</th>
                </tr>
            </tfoot>
        </table>

        <table class="table table-hover d-none display" id="tblBedding">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Items</th>
                    <th scope="col" style='text-align: center'>Prices (Rands)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<Model.Product>)ViewBag.HouseHolds)
                {
                    <tr>
                        <th scope="row"><input type="checkbox" name="row-check" id="@item.ProductID" style="width:25px;height:20px" /></th>
                        <td>@item.ProductName</td>
                        <td style="text-align: right">@item.ListPrice.ToString("N2")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="alert-primary text-dark">
                    <th class="col"> Total </th>
                    <td class="col"></td>
                    <th class="col font-weight-bold" id="totalb" style='text-align: right'>0.00</th>
                </tr>
            </tfoot>
        </table>

        <table class="table table-hover d-none display" id="tblComforters">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Items</th>
                    <th scope="col" style='text-align: center'>Prices (Rands)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<Model.Product>)ViewBag.Comforters)
                {
                    <tr>
                        <th scope="row"><input type="checkbox" name="row-check" id="@item.ProductID" style="width:25px;height:20px" /></th>
                        <td>@item.ProductName</td>
                        <td style="text-align: right">@item.ListPrice.ToString("N2")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="alert-primary text-dark">
                    <th class="col"> Total </th>
                    <td class="col"></td>
                    <th class="col font-weight-bold" id="totalc" style='text-align: right'>0.00</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer text-muted">
        <a asp-action="Index"
           class="btn btn-outline-secondary"
           data-bs-target="#adminModalToggle"
           id="adminviewsummary"
           data-bs-toggle="modal">View Summary</a>
    </div>
</div>
